<!DOCTYPE html>
<html>
<head>
    <title><%= heading %></title>
    <link rel='stylesheet' href='<%= config.url %>/stylesheets/style.css' />
</head>
<body>
<div class="main">
    <div class="container">

        <div class="jumbotron">
            <h1><i class="fa fa-exclamation-triangle"></i> <%= heading %></h1>
            <p><%= message %></p>
            <p><a class="btn btn-primary btn-lg" href="<%= config.url %>/" role="button">Home</a></p>
        </div>

    </div>
</div>
</body>
</html>
